# Block akses ke direktori dependency & file config.
RedirectMatch 403 ^.*/vendor/.*$
<FilesMatch "\.(json|lock|md)$">
    Require all denied
</FilesMatch>

# Default ke ssh.php saat akses /ssh/
DirectoryIndex ssh.php
